In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("DS_jOBs.csv")

In [3]:
dataset

,work_year,salary,salary_in_usd,job_title,job_category,salary_currency,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2022.0,186597.0,136086.0,Machine Learning Engineer in office,Analysis,EUR,US,MI,CT,Remote,DE,L
1,2020.0,110630.0,67982.0,Statistician (Remote),ML/AI,JPY,JP,EX,FL,Remote,IN,M
2,2022.0,61280.0,153309.0,Machine Learning Engineer,ML/AI,INR,UK,MI,CT,Hybrid,CN,L
3,2022.0,154130.0,135242.0,Data Analyst in office,ML/AI,JPY,DE,SE,FT,Hybrid,MX,L
4,2020.0,172312.0,35156.0,Statistician,Data Science,EUR,UK,MI,FT,In-person,UK,S
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020.0,179769.0,179111.0,Machine Learning Engineer (Remote),Data Science,EUR,UK,SE,CT,In-person,IN,S
4996,2021.0,184642.0,196373.0,Machine Learning Engineer (Remote),Data Science,EUR,CN,SE,FL,Remote,UK,S
4997,2022.0,135319.0,51366.0,Machine Learning Engineer,Analysis,GBP,UK,EN,FL,Hybrid,JP,M
4998,2021.0,58037.0,181817.0,Statistician,Data Science,EUR,US,MI,PT,Remote,DE,S
4999,2020.0,143565.0,172425.0,Data Scientist (Remote),Engineering,GBP,CN,EX,CT,Remote,CN,L

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

,work_year,salary,salary_in_usd,job_title_Data Analyst (Remote),job_title_Data Analyst in office,job_title_Data Engineer,job_title_Data Engineer (Remote),job_title_Data Engineer in office,job_title_Data Scientist,job_title_Data Scientist (Remote),...,work_setting_In-person,work_setting_Remote,company_location_DE,company_location_IN,company_location_JP,company_location_MX,company_location_UK,company_location_US,company_size_M,company_size_S
0,2022.0,186597.0,136086.0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
1,2020.0,110630.0,67982.0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
2,2022.0,61280.0,153309.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2022.0,154130.0,135242.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2020.0,172312.0,35156.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020.0,179769.0,179111.0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
4996,2021.0,184642.0,196373.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
4997,2022.0,135319.0,51366.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4998,2021.0,58037.0,181817.0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
4999,2020.0,143565.0,172425.0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [6]:
dataset.columns

Index(['work_year', 'salary', 'salary_in_usd',
       'job_title_Data Analyst  (Remote)', 'job_title_Data Analyst  in office',
       'job_title_Data Engineer  ', 'job_title_Data Engineer  (Remote)',
       'job_title_Data Engineer  in office', 'job_title_Data Scientist  ',
       'job_title_Data Scientist  (Remote)',
       'job_title_Data Scientist  in office',
       'job_title_Machine Learning Engineer  ',
       'job_title_Machine Learning Engineer  (Remote)',
       'job_title_Machine Learning Engineer  in office',
       'job_title_Statistician  ', 'job_title_Statistician  (Remote)',
       'job_title_Statistician  in office', 'job_category_Data Science',
       'job_category_Engineering', 'job_category_ML/AI', 'salary_currency_GBP',
       'salary_currency_INR', 'salary_currency_JPY',
       'salary_currency_us dolars', 'employee_residence_DE',
       'employee_residence_IN', 'employee_residence_JP',
       'employee_residence_MX', 'employee_residence_UK',
       'employee_residence_US', 'experience_level_EX', 'experience_level_MI',
       'experience_level_SE', 'employment_type_FL', 'employment_type_FT',
       'employment_type_PT', 'work_setting_In-person', 'work_setting_Remote',
       'company_location_DE', 'company_location_IN', 'company_location_JP',
       'company_location_MX', 'company_location_UK', 'company_location_US',
       'company_size_M', 'company_size_S'],
      dtype='object')

In [7]:
independent=dataset[['work_year', 'salary_in_usd',
       'job_title_Data Analyst  (Remote)', 'job_title_Data Analyst  in office',
       'job_title_Data Engineer  ', 'job_title_Data Engineer  (Remote)',
       'job_title_Data Engineer  in office', 'job_title_Data Scientist  ',
       'job_title_Data Scientist  (Remote)',
       'job_title_Data Scientist  in office',
       'job_title_Machine Learning Engineer  ',
       'job_title_Machine Learning Engineer  (Remote)',
       'job_title_Machine Learning Engineer  in office',
       'job_title_Statistician  ', 'job_title_Statistician  (Remote)',
       'job_title_Statistician  in office', 'job_category_Data Science',
       'job_category_Engineering', 'job_category_ML/AI', 'salary_currency_GBP',
       'salary_currency_INR', 'salary_currency_JPY',
       'salary_currency_us dolars', 'employee_residence_DE',
       'employee_residence_IN', 'employee_residence_JP',
       'employee_residence_MX', 'employee_residence_UK',
       'employee_residence_US', 'experience_level_EX', 'experience_level_MI',
       'experience_level_SE', 'employment_type_FL', 'employment_type_FT',
       'employment_type_PT', 'work_setting_In-person', 'work_setting_Remote',
       'company_location_DE', 'company_location_IN', 'company_location_JP',
       'company_location_MX', 'company_location_UK', 'company_location_US',
       'company_size_M', 'company_size_S']]

In [8]:
independent

,work_year,salary_in_usd,job_title_Data Analyst (Remote),job_title_Data Analyst in office,job_title_Data Engineer,job_title_Data Engineer (Remote),job_title_Data Engineer in office,job_title_Data Scientist,job_title_Data Scientist (Remote),job_title_Data Scientist in office,...,work_setting_In-person,work_setting_Remote,company_location_DE,company_location_IN,company_location_JP,company_location_MX,company_location_UK,company_location_US,company_size_M,company_size_S
0,2022.0,136086.0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
1,2020.0,67982.0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
2,2022.0,153309.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2022.0,135242.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2020.0,35156.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020.0,179111.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
4996,2021.0,196373.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
4997,2022.0,51366.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4998,2021.0,181817.0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
4999,2020.0,172425.0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [9]:
dependent=dataset[['salary']]

In [10]:
dependent

        salary
0     186597.0
1     110630.0
2      61280.0
3     154130.0
4     172312.0
...        ...
4995  179769.0
4996  184642.0
4997  135319.0
4998   58037.0
4999  143565.0

[5000 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [12]:
x_train

,work_year,salary_in_usd,job_title_Data Analyst (Remote),job_title_Data Analyst in office,job_title_Data Engineer,job_title_Data Engineer (Remote),job_title_Data Engineer in office,job_title_Data Scientist,job_title_Data Scientist (Remote),job_title_Data Scientist in office,...,work_setting_In-person,work_setting_Remote,company_location_DE,company_location_IN,company_location_JP,company_location_MX,company_location_UK,company_location_US,company_size_M,company_size_S
2858,2021.0,85700.0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1559,2022.0,103965.0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,1,0
1441,2021.0,123923.0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,1
2179,2021.0,91645.0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1390,2020.0,40933.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,2021.0,39703.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
3264,2020.0,145517.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1653,2020.0,98095.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2607,2022.0,107229.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2732,2022.0,52765.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [14]:
scy=StandardScaler()
y_train=scy.fit_transform(y_train)
y_test=scy.transform(y_test)

In [15]:
x_train

array([[ 0.02028836, -0.56635179, -0.27374911, ..., -0.39481447,
         1.50800794, -0.81892881],
       [ 1.24458587, -0.19311492, -0.27374911, ...,  2.53283522,
         1.50800794, -0.81892881],
       [ 0.02028836,  0.21471762, -0.27374911, ..., -0.39481447,
        -0.66312648,  1.22110737],
       ...,
       [-1.20400915, -0.31306567, -0.27374911, ..., -0.39481447,
        -0.66312648, -0.81892881],
       [ 1.24458587, -0.12641659, -0.27374911, ..., -0.39481447,
        -0.66312648, -0.81892881],
       [ 1.24458587, -1.23936336, -0.27374911, ..., -0.39481447,
         1.50800794, -0.81892881]])

In [16]:
#'precomputed', 'poly', 'sigmoid', 'rbf', 'linear'
from sklearn.svm import SVR
regressor=SVR (kernel="linear",C=2000)
regressor.fit(x_train,y_train)

C:\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=2000, kernel='linear')

In [17]:
regressor.intercept_

array([0.08779696])

In [18]:
regressor.n_support_

array([3194])

In [19]:
regressor.support_

array([   0,    1,    2, ..., 3497, 3498, 3499])

In [20]:
y_pred=regressor.predict(x_test)

In [21]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test, y_pred)

In [22]:
r_score

0.07786974088494247

In [23]:
import pickle
filename="flinalized_model_svr.sav"

In [24]:
pickle.dump(regressor,open(filename,'wb'))

In [25]:
#pripro
preinput=sc.transform([[2022,61280,153309,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0]])
preinput

C:\Anaconda3\envs\aiml\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[ 1.24458587e+00, -1.06536325e+00,  6.02002627e+05,
        -2.68893885e-01, -2.68282496e-01, -2.69504261e-01,
        -2.89121655e-01, -2.79732290e-01, -2.50720189e-01,
        -2.55830043e-01, -2.63354004e-01, -2.70722001e-01,
        -2.70113631e-01, -2.70113631e-01, -2.52005026e-01,
        -2.58984885e-01, -7.04986516e-01, -5.21789834e-01,
        -5.47417391e-01, -4.56230598e-01,  2.15526362e+00,
         2.13851547e+00,  2.15949772e+00,  2.42688355e+00,
         2.34125639e+00,  2.29372637e+00,  2.51744438e+00,
         2.57719254e+00,  2.44948974e+00,  1.84159388e+00,
         1.89715881e+00,  1.42212957e+00,  1.71635806e+00,
         1.74400987e+00,  1.70733383e+00,  1.41209489e+00,
        -6.99090982e-01, -4.12999470e-01, -4.09676093e-01,
        -3.94814472e-01, -4.07771882e-01, -4.35507627e-01,
        -3.94814472e-01, -6.63126484e-01, -8.18928807e-01]])

In [26]:
loaded_model=pickle.load(open("flinalized_model_svr.sav",'rb'))
result=loaded_model.predict(preinput)

In [27]:
result

array([570.30571643])

In [28]:
preoutput=scy.inverse_transform([result])

In [29]:
preoutput

array([[39862796.87103894]])