In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("DS_jOBs.csv")

In [3]:
dataset

,work_year,salary,salary_in_usd,job_title,job_category,salary_currency,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2022.0,186597.0,136086.0,Machine Learning Engineer in office,Analysis,EUR,US,MI,CT,Remote,DE,L
1,2020.0,110630.0,67982.0,Statistician (Remote),ML/AI,JPY,JP,EX,FL,Remote,IN,M
2,2022.0,61280.0,153309.0,Machine Learning Engineer,ML/AI,INR,UK,MI,CT,Hybrid,CN,L
3,2022.0,154130.0,135242.0,Data Analyst in office,ML/AI,JPY,DE,SE,FT,Hybrid,MX,L
4,2020.0,172312.0,35156.0,Statistician,Data Science,EUR,UK,MI,FT,In-person,UK,S
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020.0,179769.0,179111.0,Machine Learning Engineer (Remote),Data Science,EUR,UK,SE,CT,In-person,IN,S
4996,2021.0,184642.0,196373.0,Machine Learning Engineer (Remote),Data Science,EUR,CN,SE,FL,Remote,UK,S
4997,2022.0,135319.0,51366.0,Machine Learning Engineer,Analysis,GBP,UK,EN,FL,Hybrid,JP,M
4998,2021.0,58037.0,181817.0,Statistician,Data Science,EUR,US,MI,PT,Remote,DE,S
4999,2020.0,143565.0,172425.0,Data Scientist (Remote),Engineering,GBP,CN,EX,CT,Remote,CN,L

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

,work_year,salary,salary_in_usd,job_title_Data Analyst (Remote),job_title_Data Analyst in office,job_title_Data Engineer,job_title_Data Engineer (Remote),job_title_Data Engineer in office,job_title_Data Scientist,job_title_Data Scientist (Remote),...,work_setting_In-person,work_setting_Remote,company_location_DE,company_location_IN,company_location_JP,company_location_MX,company_location_UK,company_location_US,company_size_M,company_size_S
0,2022.0,186597.0,136086.0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
1,2020.0,110630.0,67982.0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
2,2022.0,61280.0,153309.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2022.0,154130.0,135242.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2020.0,172312.0,35156.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020.0,179769.0,179111.0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
4996,2021.0,184642.0,196373.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
4997,2022.0,135319.0,51366.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4998,2021.0,58037.0,181817.0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
4999,2020.0,143565.0,172425.0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [6]:
dataset.columns

Index(['work_year', 'salary', 'salary_in_usd',
       'job_title_Data Analyst  (Remote)', 'job_title_Data Analyst  in office',
       'job_title_Data Engineer  ', 'job_title_Data Engineer  (Remote)',
       'job_title_Data Engineer  in office', 'job_title_Data Scientist  ',
       'job_title_Data Scientist  (Remote)',
       'job_title_Data Scientist  in office',
       'job_title_Machine Learning Engineer  ',
       'job_title_Machine Learning Engineer  (Remote)',
       'job_title_Machine Learning Engineer  in office',
       'job_title_Statistician  ', 'job_title_Statistician  (Remote)',
       'job_title_Statistician  in office', 'job_category_Data Science',
       'job_category_Engineering', 'job_category_ML/AI', 'salary_currency_GBP',
       'salary_currency_INR', 'salary_currency_JPY',
       'salary_currency_us dolars', 'employee_residence_DE',
       'employee_residence_IN', 'employee_residence_JP',
       'employee_residence_MX', 'employee_residence_UK',
       'employee_residence_US', 'experience_level_EX', 'experience_level_MI',
       'experience_level_SE', 'employment_type_FL', 'employment_type_FT',
       'employment_type_PT', 'work_setting_In-person', 'work_setting_Remote',
       'company_location_DE', 'company_location_IN', 'company_location_JP',
       'company_location_MX', 'company_location_UK', 'company_location_US',
       'company_size_M', 'company_size_S'],
      dtype='object')

In [7]:
independent=dataset[['work_year', 'salary_in_usd',
       'job_title_Data Analyst  (Remote)', 'job_title_Data Analyst  in office',
       'job_title_Data Engineer  ', 'job_title_Data Engineer  (Remote)',
       'job_title_Data Engineer  in office', 'job_title_Data Scientist  ',
       'job_title_Data Scientist  (Remote)',
       'job_title_Data Scientist  in office',
       'job_title_Machine Learning Engineer  ',
       'job_title_Machine Learning Engineer  (Remote)',
       'job_title_Machine Learning Engineer  in office',
       'job_title_Statistician  ', 'job_title_Statistician  (Remote)',
       'job_title_Statistician  in office', 'job_category_Data Science',
       'job_category_Engineering', 'job_category_ML/AI', 'salary_currency_GBP',
       'salary_currency_INR', 'salary_currency_JPY',
       'salary_currency_us dolars', 'employee_residence_DE',
       'employee_residence_IN', 'employee_residence_JP',
       'employee_residence_MX', 'employee_residence_UK',
       'employee_residence_US', 'experience_level_EX', 'experience_level_MI',
       'experience_level_SE', 'employment_type_FL', 'employment_type_FT',
       'employment_type_PT', 'work_setting_In-person', 'work_setting_Remote',
       'company_location_DE', 'company_location_IN', 'company_location_JP',
       'company_location_MX', 'company_location_UK', 'company_location_US',
       'company_size_M', 'company_size_S']]

In [8]:
independent

,work_year,salary_in_usd,job_title_Data Analyst (Remote),job_title_Data Analyst in office,job_title_Data Engineer,job_title_Data Engineer (Remote),job_title_Data Engineer in office,job_title_Data Scientist,job_title_Data Scientist (Remote),job_title_Data Scientist in office,...,work_setting_In-person,work_setting_Remote,company_location_DE,company_location_IN,company_location_JP,company_location_MX,company_location_UK,company_location_US,company_size_M,company_size_S
0,2022.0,136086.0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
1,2020.0,67982.0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
2,2022.0,153309.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2022.0,135242.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2020.0,35156.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020.0,179111.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
4996,2021.0,196373.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
4997,2022.0,51366.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4998,2021.0,181817.0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
4999,2020.0,172425.0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [9]:
dependent=dataset[['salary']]

In [10]:
dependent

        salary
0     186597.0
1     110630.0
2      61280.0
3     154130.0
4     172312.0
...        ...
4995  179769.0
4996  184642.0
4997  135319.0
4998   58037.0
4999  143565.0

[5000 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [12]:
#loss{â€˜linearâ€™, â€˜squareâ€™, â€˜exponentialâ€™}, default=â€™linearâ€™
from sklearn.ensemble import AdaBoostRegressor
regressor = AdaBoostRegressor(loss='exponential',random_state=0, n_estimators=100)
regressor.fit(x_train,y_train)

C:\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoostRegressor(loss='exponential', n_estimators=100, random_state=0)

In [13]:
y_pred=regressor.predict(x_test)

In [14]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test, y_pred)

In [15]:
r_score

0.23061318621505145