In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("DS_jOBs.csv")

In [3]:
df

,work_year,salary,salary_in_usd,job_title,job_category,salary_currency,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2022.0,186597.0,136086.0,Machine Learning Engineer in office,Analysis,EUR,US,MI,CT,Remote,DE,L
1,2020.0,110630.0,67982.0,Statistician (Remote),ML/AI,JPY,JP,EX,FL,Remote,IN,M
2,2022.0,61280.0,153309.0,Machine Learning Engineer,ML/AI,INR,UK,MI,CT,Hybrid,CN,L
3,2022.0,154130.0,135242.0,Data Analyst in office,ML/AI,JPY,DE,SE,FT,Hybrid,MX,L
4,2020.0,172312.0,35156.0,Statistician,Data Science,EUR,UK,MI,FT,In-person,UK,S
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020.0,179769.0,179111.0,Machine Learning Engineer (Remote),Data Science,EUR,UK,SE,CT,In-person,IN,S
4996,2021.0,184642.0,196373.0,Machine Learning Engineer (Remote),Data Science,EUR,CN,SE,FL,Remote,UK,S
4997,2022.0,135319.0,51366.0,Machine Learning Engineer,Analysis,GBP,UK,EN,FL,Hybrid,JP,M
4998,2021.0,58037.0,181817.0,Statistician,Data Science,EUR,US,MI,PT,Remote,DE,S
4999,2020.0,143565.0,172425.0,Data Scientist (Remote),Engineering,GBP,CN,EX,CT,Remote,CN,L

In [4]:
df=pd.get_dummies(df,dtype=int,drop_first=True)

In [5]:
df

,work_year,salary,salary_in_usd,job_title_Data Analyst (Remote),job_title_Data Analyst in office,job_title_Data Engineer,job_title_Data Engineer (Remote),job_title_Data Engineer in office,job_title_Data Scientist,job_title_Data Scientist (Remote),...,work_setting_In-person,work_setting_Remote,company_location_DE,company_location_IN,company_location_JP,company_location_MX,company_location_UK,company_location_US,company_size_M,company_size_S
0,2022.0,186597.0,136086.0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
1,2020.0,110630.0,67982.0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
2,2022.0,61280.0,153309.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2022.0,154130.0,135242.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2020.0,172312.0,35156.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020.0,179769.0,179111.0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
4996,2021.0,184642.0,196373.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
4997,2022.0,135319.0,51366.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4998,2021.0,58037.0,181817.0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
4999,2020.0,143565.0,172425.0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [6]:
df.columns

Index(['work_year', 'salary', 'salary_in_usd',
       'job_title_Data Analyst  (Remote)', 'job_title_Data Analyst  in office',
       'job_title_Data Engineer  ', 'job_title_Data Engineer  (Remote)',
       'job_title_Data Engineer  in office', 'job_title_Data Scientist  ',
       'job_title_Data Scientist  (Remote)',
       'job_title_Data Scientist  in office',
       'job_title_Machine Learning Engineer  ',
       'job_title_Machine Learning Engineer  (Remote)',
       'job_title_Machine Learning Engineer  in office',
       'job_title_Statistician  ', 'job_title_Statistician  (Remote)',
       'job_title_Statistician  in office', 'job_category_Data Science',
       'job_category_Engineering', 'job_category_ML/AI', 'salary_currency_GBP',
       'salary_currency_INR', 'salary_currency_JPY',
       'salary_currency_us dolars', 'employee_residence_DE',
       'employee_residence_IN', 'employee_residence_JP',
       'employee_residence_MX', 'employee_residence_UK',
       'employee_residence_US', 'experience_level_EX', 'experience_level_MI',
       'experience_level_SE', 'employment_type_FL', 'employment_type_FT',
       'employment_type_PT', 'work_setting_In-person', 'work_setting_Remote',
       'company_location_DE', 'company_location_IN', 'company_location_JP',
       'company_location_MX', 'company_location_UK', 'company_location_US',
       'company_size_M', 'company_size_S'],
      dtype='object')

In [7]:
# Define features (X) and target (y)
X = df.drop('salary_in_usd', axis=1)
y = df['salary_in_usd']

In [8]:
X

,work_year,salary,job_title_Data Analyst (Remote),job_title_Data Analyst in office,job_title_Data Engineer,job_title_Data Engineer (Remote),job_title_Data Engineer in office,job_title_Data Scientist,job_title_Data Scientist (Remote),job_title_Data Scientist in office,...,work_setting_In-person,work_setting_Remote,company_location_DE,company_location_IN,company_location_JP,company_location_MX,company_location_UK,company_location_US,company_size_M,company_size_S
0,2022.0,186597.0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
1,2020.0,110630.0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
2,2022.0,61280.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2022.0,154130.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2020.0,172312.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020.0,179769.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
4996,2021.0,184642.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
4997,2022.0,135319.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4998,2021.0,58037.0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
4999,2020.0,143565.0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [9]:
y

0       136086.0
1        67982.0
2       153309.0
3       135242.0
4        35156.0
          ...
4995    179111.0
4996    196373.0
4997     51366.0
4998    181817.0
4999    172425.0
Name: salary_in_usd, Length: 5000, dtype: float64

In [10]:
#split into training set and test
from sklearn.model_selection import train_test_split

# Split data into training/test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR


# Define hyperparameter tuning space
param_grid = {
    'kernel': ['rbf', 'poly', 'sigmoid', 'linear'],
    'C': [10, 100, 1000],
    'gamma': ['auto', 'scale']
}

# Initialize GridSearchCV
grid = GridSearchCV(SVR(), param_grid, refit=True, verbose=3, n_jobs=-1)

# Perform grid search
grid.fit(X_train, y_train)

print("Best Score:", grid.best_score_)

Fitting 5 folds for each of 24 candidates, totalling 120 fits
Best Score: -0.002227099318326542

In [13]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'C': 10, 'gamma': 'auto', 'kernel': 'sigmoid'}:

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,2.967364,0.211554,1.327177,0.036100,10,auto,rbf,"{'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}",-0.006466,-0.000009,-0.001868,-0.002330,-0.000553,-0.002245,0.002273,6
1,2.252406,0.190439,0.518677,0.020615,10,auto,poly,"{'C': 10, 'gamma': 'auto', 'kernel': 'poly'}",-0.006399,0.000002,-0.001899,-0.002380,-0.000538,-0.002243,0.002252,3
2,3.238995,0.052397,0.744536,0.072985,10,auto,sigmoid,"{'C': 10, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.006609,0.000030,-0.001741,-0.002228,-0.000588,-0.002227,0.002333,1
3,2.353144,0.108094,0.481900,0.034587,10,auto,linear,"{'C': 10, 'gamma': 'auto', 'kernel': 'linear'}",-0.012976,-0.000938,-0.002187,-0.002424,-0.006808,-0.005066,0.004425,15
4,3.079693,0.081106,1.283205,0.052905,10,scale,rbf,"{'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}",-0.006466,-0.000009,-0.001868,-0.002330,-0.000553,-0.002245,0.002273,5
5,2.085909,0.043422,0.504087,0.029583,10,scale,poly,"{'C': 10, 'gamma': 'scale', 'kernel': 'poly'}",-0.006399,0.000002,-0.001899,-0.002380,-0.000538,-0.002243,0.002252,4
6,2.841041,0.049340,0.668186,0.032676,10,scale,sigmoid,"{'C': 10, 'gamma': 'scale', 'kernel': 'sigmoid'}",-0.006609,0.000030,-0.001741,-0.002227,-0.000588,-0.002227,0.002333,2
7,1.979576,0.036607,0.464310,0.035709,10,scale,linear,"{'C': 10, 'gamma': 'scale', 'kernel': 'linear'}",-0.012976,-0.000938,-0.002187,-0.002424,-0.006808,-0.005066,0.004425,15
8,3.019330,0.042831,1.288001,0.031866,100,auto,rbf,"{'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}",-0.007281,-0.000018,-0.001777,-0.002165,-0.000937,-0.002436,0.002533,10
9,2.098700,0.026160,0.477704,0.032174,100,auto,poly,"{'C': 100, 'gamma': 'auto', 'kernel': 'poly'}",-0.006797,0.000096,-0.001761,-0.002251,-0.000686,-0.002280,0.002402,7
10,2.804663,0.045193,0.655993,0.047060,100,auto,sigmoid,"{'C': 100, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.007495,0.000108,-0.001064,-0.002033,-0.001737,-0.002444,0.002630,12
11,2.020749,0.019696,0.413543,0.006427,100,auto,linear,"{'C': 100, 'gamma': 'auto', 'kernel': 'linear'}",-0.043875,-0.018398,-0.009785,-0.027548,-0.037385,-0.027398,0.012349,21
12,3.074696,0.019651,1.316185,0.033714,100,scale,rbf,"{'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}",-0.007281,-0.000018,-0.001777,-0.002165,-0.000937,-0.002436,0.002533,9
13,2.068720,0.031459,0.473705,0.035960,100,scale,poly,"{'C': 100, 'gamma': 'scale', 'kernel': 'poly'}",-0.006797,0.000096,-0.001761,-0.002250,-0.000686,-0.002280,0.002402,8
14,2.902404,0.029534,0.673582,0.028541,100,scale,sigmoid,"{'C': 100, 'gamma': 'scale', 'kernel': 'sigmoid'}",-0.007495,0.000108,-0.001064,-0.002033,-0.001737,-0.002444,0.002630,11
15,2.089506,0.030552,0.422538,0.040719,100,scale,linear,"{'C': 100, 'gamma': 'scale', 'kernel': 'linear'}",-0.043875,-0.018398,-0.009785,-0.027548,-0.037385,-0.027398,0.012349,21
16,3.052710,0.028342,1.290999,0.032765,1000,auto,rbf,"{'C': 1000, 'gamma': 'auto', 'kernel': 'rbf'}",-0.013375,-0.001566,-0.002768,-0.002941,-0.005002,-0.005130,0.004268,18
17,2.079114,0.044820,0.472105,0.040808,1000,auto,poly,"{'C': 1000, 'gamma': 'auto', 'kernel': 'poly'}",-0.010156,0.000559,-0.002388,-0.003152,-0.001890,-0.003405,0.003597,13
18,2.800267,0.046808,0.637404,0.038424,1000,auto,sigmoid,"{'C': 1000, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.020316,-0.004976,-0.002816,-0.006122,-0.013344,-0.009514,0.006455,19
19,2.558616,0.177864,0.416941,0.029372,1000,auto,linear,"{'C': 1000, 'gamma': 'auto', 'kernel': 'linear'}",-0.066424,-0.031942,-0.013582,-0.046377,-0.054254,-0.042516,0.018293,23
20,3.019930,0.041700,1.292998,0.042184,1000,scale,rbf,"{'C': 1000, 'gamma': 'scale', 'kernel': 'rbf'}",-0.013374,-0.001566,-0.002768,-0.002942,-0.005001,-0.005130,0.004267,17
21,2.122086,0.035103,0.503887,0.005189,1000,scale,poly,"{'C': 1000, 'gamma': 'scale', 'kernel': 'poly'}",-0.010161,0.000558,-0.002387,-0.003158,-0.001890,-0.003408,0.003598,14
22,2.849236,0.042069,0.698966,0.017727,1000,scale,sigmoid,"{'C': 1000, 'gamma': 'scale', 'kernel': 'sigmo...",-0.020322,-0.004953,-0.002816,-0.006142,-0.013344,-0.009515,0.006458,20
23,2.601788,0.184567,0.386160,0.025710,1000,scale,linear,"{'C': 1000, 'gamma': 'scale', 'kernel': 'linear'}",-0.066424,-0.031942,-0.013582,-0.046377,-0.054254,-0.042516,0.018293,23

In [16]:
# Initialize empty dictionary
user_input = {}

# Collect user input
user_input['work_year'] = int(input("Work Year: "))
user_input['salary'] = float(input("Salary: "))
user_input['salary_in_usd'] = float(input("Salary in USD: "))
user_input['job_title'] = input("Job Title: ")
user_input['job_category'] = input("Job Category: ")
user_input['salary_currency'] = input("Salary Currency: ")
user_input['employee_residence'] = input("Employee Residence: ")
user_input['experience_level'] = input("Experience Level (EX, MI, SE): ")
user_input['employment_type'] = input("Employment Type: ")
user_input['work_setting'] = input("Work Setting: ")
user_input['company_location'] = input("Company Location: ")
user_input['company_size'] = input("Company Size: ")

# One-hot encoding
job_titles = ['Data Analyst', 'Data Engineer', 'Data Scientist', 'Machine Learning Engineer', 'Statistician']
job_categories = ['Data Science', 'Engineering', 'ML/AI']
salary_currencies = ['GBP', 'INR', 'JPY', 'USD']
employee_residences = ['DE', 'IN', 'JP', 'MX', 'UK', 'US']
employment_types = ['FL', 'FT', 'PT']
work_settings = ['In-person', 'Remote']
company_locations = ['DE', 'IN', 'JP', 'MX', 'UK', 'US']
company_sizes = ['M', 'S']
experience_levels = ['EX', 'MI', 'SE']

for job_title in job_titles:
    user_input[f'job_title_{job_title}'] = 1 if user_input['job_title'] == job_title else 0
    user_input[f'job_title_{job_title} (Remote)'] = 1 if user_input['job_title'] == job_title and user_input['work_setting'] == 'Remote' else 0
    user_input[f'job_title_{job_title} in office'] = 1 if user_input['job_title'] == job_title and user_input['work_setting'] == 'In-office' else 0

for job_category in job_categories:
    user_input[f'job_category_{job_category}'] = 1 if user_input['job_category'] == job_category else 0

for salary_currency in salary_currencies:
    user_input[f'salary_currency_{salary_currency}'] = 1 if user_input['salary_currency'] == salary_currency else 0

for employee_residence in employee_residences:
    user_input[f'employee_residence_{employee_residence}'] = 1 if user_input['employee_residence'] == employee_residence else 0

for employment_type in employment_types:
    user_input[f'employment_type_{employment_type}'] = 1 if user_input['employment_type'] == employment_type else 0

for work_setting in work_settings:
    user_input[f'work_setting_{work_setting}'] = 1 if user_input['work_setting'] == work_setting else 0

for company_location in company_locations:
    user_input[f'company_location_{company_location}'] = 1 if user_input['company_location'] == company_location else 0

for company_size in company_sizes:
    user_input[f'company_size_{company_size}'] = 1 if user_input['company_size'] == company_size else 0

for experience_level in experience_levels:
    user_input[f'experience_level_{experience_level}'] = 1 if user_input['experience_level'] == experience_level else 0

Work Year:  2020
Salary:  2563
Salary in USD:  2365
Job Title:  Statistician
Job Category:  Engineering
Salary Currency:  GBP
Employee Residence:  FT
Experience Level (EX, MI, SE):  EX
Employment Type:  PT
Work Setting:  Remote
Company Location:  UK
Company Size:  S

In [17]:
# Convert to DataFrame
user_input_df = pd.DataFrame([user_input])

# Ensure all columns from train_columns exist in user_input_df
# Ensure all columns from train_columns exist in user_input_df
for col in X.columns:
    if col not in user_input_df.columns:
        user_input_df[col] = 0

# Reorder columns to match X_train
user_input_df = user_input_df[X.columns]

# Scale user input
user_input_scaled = sc.transform(user_input_df)

# Predict
future_prediction = grid.predict(user_input_scaled)
print("Future Prediction:", future_prediction)

Future Prediction: [113404.74739801]